.inforow {
    min-height: 20px;
    padding: 5px;
    margin-bottom: 0px;
    font-size: 100%;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #1e1e1e;
}

.inforow:hover
{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.pages {
    left: -90px;
    padding: 5px;
    z-index: 999;
}
