/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media (max-width: 760px) {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

    td:before{
        display:inline-block;
        font-weight: bolder;
        min-width: 30%;
        width: 30%;
    }

	td:after {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		padding-right: 10px;
		white-space: nowrap;
        text-align: right;
	}

    td:nth-of-type(1):before { content: "Status                   ";}
    td:nth-of-type(2):before { content: "Type                  "; }
    td:nth-of-type(3):before { content: "Date Added             "; }
    td:nth-of-type(4):before { content: "Title                "; }
    td:nth-of-type(4):before { content: "Authors                "; }
    td:nth-of-type(4):before { content: "Journal                "; }
    td:nth-of-type(4):before { content: "Year                "; }
}