/*******************************
            Global
*******************************/

html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #3a3a3a;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

/*******************************
          UI Overrides
*******************************/

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

.ui.page {
    margin-left: 5px;
    margin-right: 5px;
}

a {
  color: #cccdd0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #cccdd0;
}

p a {
  font-weight: bold;
}

/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.background {
 /*   background-image: url("../images/background.png"); */
    border: none;
    padding: 0;
    margin: 0;
}

.nds.button {
    margin-top : 20px;
    background-color: #000000;
    padding: 6px 18px 2px 6px;
    width: 40px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.nds.button:hover {
    cursor: pointer;
    cursor: hand;
}

.nds.button.mobile {
     margin-top : 10px;
     background-color: #000000;
     padding: 4px 10px 4px 4px;
     width: 20px;
     -webkit-border-top-right-radius: 4px;
     -webkit-border-bottom-right-radius: 4px;
     -moz-border-radius-topright: 4px;
     -moz-border-radius-bottomright: 4px;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     -webkit-border-top-left-radius: 4px;
     -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-topleft: 4px;
     -moz-border-radius-bottomleft: 4px;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
}

.nds.button.mobile:hover {
    cursor: pointer;
    cursor: hand;
}

.nds.logo {
    background-image: url("../images/logo.png");
    width: 281px;
    height: 49px;
}

.nds.logo.mobile {
    background-image: url("../images/logo-small.png");
    width: 95px;
    height: 45px;
}

.nds.slogan {
    color: #ffffff;
    font-weight: normal;
    font-size: 1.6em;
}

.header {
    color: #d14b4e;
}

.nds.slogan.small {
    color: #ffffff;
    font-weight: normal;
    font-size: 1.3em;
}

.breadcrumb {
    width: 100%;
    min-width: 100%;
}

.breadcrumb .section {
    max-width: 200px;
}

#background {
  color: rgba(0, 0, 0, 0.6);
}

.nds.search {
    margin-left: 100px;
    margin-right: 100px;
}

@media only screen and (max-width : 768px) {
    .nds.search {
        margin-left: 5px;
        margin-right: 5px;
    }
}


.ui.page.grid.segment {
  padding-top: 0;
  padding-bottom: 0;
}

.ui.page {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.masthead.segment {
    background-color: #414141;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding-top: 0;
  overflow: visible;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.56) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.68) inset !important;
}

.masthead.segment .column {
  position: relative;
}

.masthead.segment .information {
    padding-bottom: 0;
}

.masthead.segment .information p {
  margin: 0;
  font-size: 1.2em;
}

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em;
}

.masthead.segment img {
    margin: 0;
    padding: 0;
    top: 0;
}

.masthead.footer {
    background-color: #414141;
    color: #ffffff;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding-top: 0;
    overflow: visible;
    -webkit-box-shadow: 0 -10px 5px 0 rgba(0, 0, 0, 0.56) inset !important;
    box-shadow: 0 -10px 5px 0 rgba(0, 0, 0, 0.68) inset !important;
}


.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

nav {
  margin: 50px;
}

nav ul {
  overflow: auto;
  list-style-type: none;
}

nav li {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #CD184D;
  padding: 10px 20px;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: #CD184D;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  line-height: 125%;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav li a:hover {
  color: #CD184D;
}

nav li.active a {
  font-weight: bold;
  color: #CD184D;
}

/*******************************
          Responsive
*******************************/

/* Mobile Only */

@media only screen and (max-width : 768px) {

    nav {
      margin: 5px;
    }

  .ui.page.grid.segment {
      padding: 2px;

    }

  .ui.page.grid.segment {
    padding-top: 0;
    padding-bottom: 0;
  }

  .menu .right.menu > .item {
    display: none;
  }


.accordion.title:hover {
   color: antiquewhite;
    background-color: blue;
   }

.title:hover {
    color: antiquewhite;
    }

    .item:hover {
        color: antiquewhite;
        }

  .menu .right.menu > .mobile.item {
    display: block;
  }

  h1.ui.header {
    font-size: 1.5em;
  }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto;
  }

  .masthead.segment .information {
  }

  .masthead.segment .image {
    bottom: 0px;
    width: 150px;
  }

  .masthead.segment .button {
    font-size: 1rem;
  }

  .overview .divided.grid .header .icon {
    font-size: 1.5em;
  }

  .overview .divided.grid .header + p {
    min-height: 0px;
  }

  .masthead.segment .column {
    font-size: 0.9rem;
  }

  .masthead.segment .column p {
  }

  .selection.list .right.floated {
  }
}

@media only screen and (max-width : 1000px) {

}


.retrotextarea {
    color: #008000;
    font-size: 1.05em;
    background-color: #000000;
    border-width: 2px;
    border-color: #000000;
    margin: 0px;
    padding: 3px;
    border-style: solid;
    overflow-y: scroll;
    overflow-x: auto;
    width:99%;
}

.dataset {
    width: 200px;
    height: 40px;
    font-size: 120%;
    overflow: hidden;
    border: 1px solid #858585;
    padding: 10px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #545055;
    color: #ffffff;
}

.run-choice {
    width: 200px;
    height: 40px;
    font-size: 120%;
    overflow: hidden;
    border: 1px solid #858585;
    padding: 10px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #545055;
    color: #ffffff;
}
