/*******************************
            Global
*******************************/

html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #3a3a3a;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.ui.inverted.orange {
    background-color: #E84D1C !important;
    color: #fff!important;
}

.ui.orange.label {
    background-color: #E84D1C !important;
    color: #fff!important;
}

.ui.orange.basic.button {
    color: #E84D1C !important;
    background-color: #fff!important;
}


/*******************************
          UI Overrides
*******************************/

/**
To be compatible with errors on Yii's forms
*/
.errorSummary, .note, .required {
    color: #ff0000;
}

.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.ui.header,
h1,
h2 {
  font-weight: normal !important;
}

h1.ui.header {
  font-size: 3em;
}

h4.ui.header,
h5.ui.header,
.ui.icon.header {
  font-weight: bold !important;
}

.ui.button {
  font-weight: normal;
  text-decoration: none;
}

a {
  color: #cccdd0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

a:hover {
  color: #cccdd0;
}

p a {
  font-weight: bold;
}

.label {
    background-color: white;
}
/*******************************
            Global
*******************************/

.menu .right.menu > .mobile.item {
  display: none;
}

.background {
 /*   background-image: url("../images/background.png"); */
    border: none;
    padding: 0;
    margin: 0;
}

.side {
  background-color: transparent;
}

.nds.logo {
    background-image: url("../images/logo.png");
    width: 136px;
    height: 52px;
}

.nds.logo.mobile {
    background-image: url("../images/logo-small.png");
    width: 68px;
    height: 26px;
}

.nds.color {
    color: #E84D1C;
}

.nds.slogan.home {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    	font-size: 20px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 20px;
        color: #E84D1C;
        margin-top: 1px;
}


.nds.slogan {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    	font-size: 20px;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: 500;
    	line-height: 24px;
        color: #E84D1C;
    margin-top: 10px;
}

.nds.slogan.small {
    color: #E84D1C;
    font-weight: normal;
    font-size: 1.3em;
}

.breadcrumb {
    width: 100%;
    min-width: 100%;
}

.breadcrumb .section {
    max-width: 200px;
}


.launch.button {
  top: 8px;
  left: 2px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}

.launch.button .text {
    position: fixed;
  white-space: nowrap;
  top: 33px;
  left: 49px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.launch.button:hover {
  width: .50px;
}
.launch.button:hover .text {
  opacity: .50;
}

.bump.it.down {
    padding-top: 20px;
}

.feed {
    word-wrap: break-word;
    word-break: break-all;
}

.summary {
    overflow-x: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
}

.ui.grid {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}


.ui.page.grid.segment {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: inherit;
}

.ui.page {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}

.ui .segment {
    margin-top: 0;
    margin-bottom: 0;
    background-color: inherit;
}

.ui.grid.segment {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.launch.button {
    background-color: rgba(0, 0, 0, 0.09);
}

.masthead.segment {
/*    background-image:  url("../images/chalk-head.png");; */
    background-color: #FFFFFF;
    color: #E84D1C;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: visible;
    -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0) inset !important;
    box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.07) inset !important;
}

.masthead.segment img {
    margin: 0;
    padding: 0;
    top: 0;
}

.masthead.footer {
    background-color: #2d2c2c;
    -webkit-background-size: cover;
    background-size: cover;
    color: #7c7a7a;
    margin: 0;
    padding-top: 0;
    overflow: visible;
}


.overview .divided.grid .header + p {
  min-height: 100px;
}

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em;
}

.ui.cube.shape .side {
  background-color: transparent;
}

nav {
  margin: 50px;
}

nav ul {
  overflow: auto;
  list-style-type: none;
}

nav li {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #CD184D;
  padding: 10px 20px;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: #CD184D;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  line-height: 125%;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav li a:hover {
  color: #CD184D;
}

nav li.active a {
  font-weight: bold;
  color: #CD184D;
}

/*******************************
          Responsive
*******************************/

    /* default styles here for older browsers.
       I tend to go for a 600px - 960px width max but using percentages
    */
    @media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    }
    @media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
    }
    @media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    }

    @media only screen and (max-width:768px){
       /* default iPad screens */
        nav {
           margin: 5px;
         }

       .ui.page.grid.segment {
         }

       .ui.page.grid.segment {
         padding-top: 0;
         padding-bottom: 0;
       }

       .menu .right.menu > .item {
         display: none;
       }

       .ui.page {
           padding-left: 5px;
           padding-right: 5px;
         }


       .menu .right.menu > .mobile.item {
         display: block;
       }

       h1.ui.header {
         font-size: 1.5em;
       }

       .masthead.segment {
         -webkit-background-size: auto;
         background-size: auto;
       }

       .masthead.segment .information {
       }

       .masthead.segment .image {
         bottom: 0px;
         width: 150px;
       }

       .masthead.segment .button {
         font-size: 1rem;
       }

       .overview .divided.grid .header .icon {
         font-size: 1.5em;
       }

       .overview .divided.grid .header + p {
         min-height: 0px;
       }

       .masthead.segment .column {
         font-size: 0.9rem;
       }

       .masthead.segment .column p {
       }

       .selection.list .right.floated {
       }
    }

    @media only screen and (max-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
        .ui.page {
            padding-left: 5px;
            padding-right: 5px;
            margin: 0;
            border: none;
         }

        .segment {
            padding: 0;
            margin: 0;
            border: none;
         }

        ui.grid {
            padding: 0;
            margin: 0;
            border: none;
         }

        .fixed.launch.button {
          top: 15px;
        }
    }

    /* different techniques for iPad screening */
    @media only screen and (min-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }


.retrotextarea {
    color: #008000;
    font-size: 1.05em;
    background-color: #000000;
    border-width: 2px;
    border-color: #000000;
    margin: 0px;
    padding: 3px;
    border-style: solid;
    overflow-y: scroll;
    overflow-x: auto;
    width:99%;
}

.dataset, .container, .run-choice {
    width: 200px;
    height: 35px;
    font-size: 120%;
    overflow: hidden;
    border: 1px solid #858585;
    padding: 10px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #545055;
    color: #ffffff;
}


.fleet {
    margin: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 1010px;
}


/* Metal ------------------------- */

.metal {
  position: relative;
  outline: none;

  color: hsl(0, 0%, 63%);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;

  background-color: hsl(0, 0%, 94%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */

  transition: color .2s;
}



/* Radial ------------------------- */

.radial.metal {
  width: 160px;
  height: 160px;
  line-height: 160px;
  border-radius: 80px;
  background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),

    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),

    -webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}


.metal.radial:before, .metal.radial:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  /* fake conical gradients */
  background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
}
.metal.radial:before { transform: rotate( 65deg); }
.metal.radial:after { transform: rotate(-65deg); }




/* Linear ------------------------- */

.metal.linear {
  border-radius: .5em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),

    linear-gradient(180deg, hsl(0,0%,78%)  0%,
    hsl(0,0%,90%) 47%,
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}


/* Oval ------------------------- */

.metal.linear.oval {
  margin-top: 100px;
  width: 70px;
  height: 60px;
  line-height: 60px !important;
  border-radius: 50%;
  font: italic bold 3em/50px Georgia, "Times New Roman", Times, serif;
}




/* active ------------------------- */

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;
  box-shadow:
    inset hsla(210,100%,30%,  1) 0  0px 0px 4px, /* border */
    inset hsla(210,100%,15%, .4) 0 -1px 5px 4px, /* soft SD */
    inset hsla(210,100%,20%,.25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(210,100%,100%,.7) 0  2px 1px 7px, /* top HL */

    hsla(210,100%,75%, .8) 0  0px 3px 2px, /* outer SD */
    hsla(210,50%,40%, .25) 0 -5px 6px 4px, /* outer SD */
    hsla(210,80%,95%,   1) 0  5px 6px 4px; /* outer HL */
}



input[type=text] {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.bump {
    padding-top: 10px;
}

