
/* Event Calender stuff */

.events-calendar {
    color: #020202;
    display: table;
    height: 240px;
    padding: 0;
    margin: 0;
}

.events-calendar .heading {
    color: #020202;
    margin-bottom: 10px
}


.events-calendar .row {
    display: table-row;
    padding: 0;
    margin: 0;
}

.events-calendar .row .nearest, .events-calendar .row .upcoming {
    width: 50%;
    display: table-cell
}

.events-calendar .row .upcoming {
    padding: 10px 20px 0 20px;
}

.events-calendar .row .nearest .date {
    font-weight: bold;
    font-size: 80px;
    line-height: 100px
}

.events-calendar .row .nearest {
    border-right: 1px solid #c3c1b4;
    text-align: center
}

.events-calendar .row .nearest .month {
    font-weight: bold;
    font-size: 18px
}

.events-calendar .row .nearest .name {
    word-wrap: break-word;
    font-size: 14px
}

.event {
    padding-bottom: 5px;
}

.event .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.event .name {
    word-wrap: break-word;
    font-size: 14px
}

.events-calendar .upcoming {
    background: #eeeeee;
    height: 233px;
    max-height: 233px;
    overflow-y: scroll;
}

.events-calendar .upcoming .annual-calendar {
    position: absolute;
}

.events-calendar .upcoming {
    background: #fdf8d7
}

